:root {
  --duration: 0;
}

body {
  background: #000a24;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ball {
  border-radius: 50% / 50%;
  background: white;
  animation-name: swing;
  animation-timing-function: cubic-bezier(0.5, 0.05, 0.5, 1);
  animation-iteration-count: infinite;
  background: radial-gradient(circle at 26% 68%, white 1px, #f8f547 3%, #473a00 63%, #f8f547 125%)
}

@keyframes swing {
  0%, 100% {
    transform: translateX(-150px) rotate(0deg)
  }
  50% {
    transform: translateX(150px) rotate(360deg)
  }
}