:root {
  --duration: 0;
}

body {
  background: #000a24;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* .container {
  opacity: 0; 
} */

.ball {
  border-radius: 50% / 50%;
  animation-name: swing, fadeInAnimation;
  animation-timing-function: cubic-bezier(0.5, 0.05, 0.5, 1), ease-in;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards, forwards;
  background: radial-gradient(circle at 26% 68%, white 1px, #f8f547 3%, #473a00 63%, #f8f547 125%);
  opacity: 0; 
}

@keyframes swing {
  0%, 100% {
    transform: translateX(-150px) rotate(0deg)
  }
  50% {
    transform: translateX(150px) rotate(360deg)
  }
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
} 