:root {
  --global-scale: 6;
  --global-span: 100;
  --global-duration: 4;
}

body {
  margin: 0;
  padding: 0;
  background: #00081d;
  color: var(--mid);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.ball {
  border-radius: 50% / 50%;
  animation-name: swing, fadeInAnimation;
  animation-timing-function: cubic-bezier(0.5, 0.05, 0.5, 1), ease-in;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards, forwards;
  --scale: calc(var(--global-scale));
  --span: calc(var(--global-span) * 1px);
  opacity: 0;
}

@keyframes swing {
  0%, 100% {
    transform: translateX(calc(var(--span) * -1)) rotate(0deg) scale(1);
  }
  50% {    
    --scale: calc(var(--global-scale));
    transform: translateX(calc(var(--span) * 1)) rotate(360deg) scale(var(--scale));
  }
}

@keyframes fadeInAnimation { 
  0% { opacity: 0; } 
  100% { opacity: 1; } 
}

header.about {
  position: absolute;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  top: 20px;
  right: 20px;
}

@media only screen and (max-width: 400px) {
  header.about {
    top: auto;
    bottom: 20px;
  }
}

header.about > a {
  color: var(--mid);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

header.about > a:hover {
  color: var(--light-mid);
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 600;
  font-size: 1rem;
  content: "\f35d";
  margin-left: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}